header {background-color: #ffffff;        
    border-style: solid;    
    border: 100px;
    height: 80px;
    border-bottom-color: #cccccc;
    }

    body {background-color: grey; }

    #content {background: #ffffff;
        border: #dddddd;
    }

footer {background-color: #666666;
    bottom: 0px;
    left: 0px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px; 
    text-align: center;
    position: fixed;
    width: 1390px;
    height: 50px;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}
#ppic { width: 200px;
        height: 200px;
    }

#name {
position: relative;
text-align: center;
top: 0;
left: 300px;
padding: 40px;
margin:0;
background-color: #4aaaa5;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;

}